@mixin flex($direction,$property1,$property2) {
    display: flex;
    flex-direction: $direction;
    justify-content: $property1;
    align-items: $property2;
}

@mixin background {
    background-size: cover;
    background-position: center;
}